# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../majbot\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../:\coding\java\commons\majbot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
